#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.listItemCheckBox,.listItem h5{
  margin-right: 40px;
}

.listItem h5 {
  font-weight: 400;

}

.edit-input {
  width: 400px; 
  height: 30px;
}

.saveAndEditBtn{
  margin-left: auto;
  margin-right: 10px;
  background-color: rgb(91, 173, 91);
  
}
.deleteBtn{
  background-color: rgb(241, 157, 157);
}
